[Unit]
Description=ffmpeg video feed from webcam to ffserver using c2cap
After=syslog.target

[Service]
ExecStart=/usr/local/bin/ffmpeg-hardware-encoder-c2-c2cap.sh
Type=simple
Restart=no

[Install]
WantedBy=multi-user.target
